/*Definimos el tamaño de la fuente para asi utilizar las unidades de medidas "rem"*/
html {
    font-size: 62.5%;
}

/*Creamos body dentro de css para referirnos al cuerpo asi poder editar todo lo que yace dentro de el, como por ejemplo el background*/
body {
    width: 85%;
    margin: 0 auto;
    color: white;
    font-size: 1.6rem;
    line-height: 2.5rem;
    background-image: linear-gradient(45deg, #004FFF, #2DC7FF);
}

/*Le damos un color al titulo, asignamos las unidades de medidas en este caso "rem" y elegimos el interlineado*/
h1 {
    line-height: 10rem;
    color: yellow;
}

/*Utilizamos la clase header para cambiar el color de las palabras dentro de el*/
.header a {
    color: white;
}

/*Se utiliza la clase ul_nav para modificar todo lo que contenga, ya sea su posicion, margen, bordes, fondo, etc*/
.ul_nav {
    display: flex;
    margin: 0 auto;
    list-style-type: none;
    border: 3px solid black;
    justify-content: space-evenly;
    background-color: #004FFF;
    border-radius: 6px;
}

/*Creamos la clase "componente" para poder editar lo que se tiene en ella*/
.componente {
    height: 400px;
    width: 450px;
    margin: 0 auto;
    justify-content: space-evenly;
}
/*Se utiliza la id descripcion para modificar todo lo que contenga, ya sea su posicion, margen, bordes, fondo, etc*/
#descripcion{
    padding-left: 10px;
    padding-right: 25px;
    background-color: #004FFF;
    border: 3px solid white;
}

/*Se asignan elementos a la clase tabla y margenes*/
.tabla {
    margin: 0;
    border: 3px solid black;
}

/*Se utiliza la id Copy para modificar todo lo que contenga, ya sea su posicion, margen, bordes, fondo, etc*/
#Copy {
    width: 85%;
    position: absolute;
    border: 3px solid black;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #004FFF;
}
#esp {
    display: flex;
    list-style-type: none;
    align-items: flex-end;
    justify-content: space-evenly;
}
/*Se utiliza para modificar en general la pagina completa, al utilizar el * se modifica todo, en este caso la fuente y los margen.*/
* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    }